body{
    background-color: rgb(45, 115, 180);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(148, 191, 230);
    margin: 0;
    padding: 0;
}

a{
    color: rgb(148, 191, 230);
    text-decoration: none;
}

#ocean{
    opacity: 44%;
}

#container{
    position: relative;
}

input, button{
    margin: 12px;
    padding: 18px;
    color: rgb(188, 148, 230);
    font-weight: bolder;
    border: none;
    background-color: azure;
    font-size: larger;
}

button{
    width: 235px;
}

input:hover, button:hover{
    background-color: rgb(177, 219, 218);
}

.fish{
    cursor: url('images/fishy.png') 10 75, auto;
}

.whale{
    cursor: url('images/whale.png') 10 37, auto;
}

.whaleButton{
    cursor: url('images/whale.png') 10 37, auto;
    padding-right: 28px;
    padding-left: 28px;
}

#background-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 20%;
}

#attribution{
    width: 100%;
    font-size: 8px;
    text-align: right;
    bottom: 0;
    margin-right: 10;
    padding-bottom: 2;
    bottom: 0;
    left: 0;
    position: absolute;
} 

#buttonsHere{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}